################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SearchflighChanllenge/v16
/Searchflight.IServices/bin/Debug/netcoreapp3.1
/Searchflight.IServices/obj
/Searchflight.Models/bin/Debug/netcoreapp3.1
/Searchflight.Models/obj
/Searchflight.Services/bin/Debug/netcoreapp3.1
/Searchflight.Services/obj
/.vs
/Searchfight.IServices/obj
/Searchfight.IServices/bin/Debug/netcoreapp3.1
/Searchfight.Models/bin/Debug/netcoreapp3.1
/Searchfight.Models/obj
/Searchfight.Services/obj
/Searchfight.Services/bin/Debug/netcoreapp3.1
/Searchfight.Services.Tests/obj
/Searchfight.Services.Tests/bin/Debug/netcoreapp3.1
